<div class="main">
  <ul>
    <li *ngFor="let contact of filteredContacts" class="contact-item">
      <span class="avatar-container">
        <div class="status-bubbles">
          <div *ngIf="contact.contato_sn_ativo" class="bubble active"></div>
          <div *ngIf="!contact.contato_sn_ativo" class="bubble inactive"></div>
        </div>

        <img src="/assets/images/icons-contacts.png" alt="icons-contacts" />
        {{ contact.contato_nome }}
        <i *ngIf="contact.contato_sn_favorito" class="favorite-icon filled" aria-hidden="true">★</i>
      </span>
      <button class="edit-button" (click)="onEdit(contact)">
        {{ 'button.label-edit' | translate }}
      </button>
    </li>
  </ul>
</div>
<div class="div-add-contact">
  <button (click)="onAdd()" class="edit-button">{{ 'button.label-add' | translate }}</button>
</div>
